<template>	
	<div class="col-md-12 pt-5">
		<div class="card" >
			<div class="card-body">
			    <h5 class="card-title text-center">{{ rumah.rumah }}</h5>
			    <h6 class="card-subtitle mb-2 text-muted text-center">
			    	<b>Harga Sewa : {{ rumah.harga_sewa }} / Bulan
			    	</b>
			    </h6>
			    <p class="card-text">
			    	Deskripsi: <br>
			    	{{ rumah.deskripsi }}
			    </p>
			    <p></p>
			    <p class="card-text">Fasilitas Yang Anda dapatkan : <br> {{rumah.fasilitas}}</p>
			</div>
			<div class="card-footer">
				<form action="" method="post" @submit.prevent="store">
			  		<input type="hidden" v-model="form.nama_rumah_id"> 
			 		<input type="hidden" v-model="form.users_id">
				  
			  		<button class="btn btn-danger">
			  			Pesan
					</button>
			  	</form>			  	
			  	<br>
				<router-link to="/home" class="btn btn-primary">
			  		Kembali
			  	</router-link>
			</div>
		</div>	
	</div>
</template>
<script type="">
	export default {
		data(){
			return {
				rumah: [],
				form:{
					'nama_rumah_id':'',
					'users_id':'',
				},
			}
		},

    	mounted(){
    	   this.getRumah()
    	   this.getUserLogin()
    	},
    	methods: {
    		async getRumah(){
    			let response = await axios.get('/api/rumah/detail/'+this.$route.params.rumah_id)
    			this.rumah = response.data.data
    			this.form.nama_rumah_id = response.data.data.rumah_id
    		},

    		async getUserLogin(){
    			let response = await axios.get('/api/user/')
    			this.form.users_id = response.data.id
    		},

    		async store(){
    			let response = await axios.post('/api/user/booking',this.form)
    			console.log(response)
    			if(response.status == 200 || response.status == 201){
    				console.log(response.status)
    				   // window.location.href = "/home";
    				   this.$router.push('/lihatpesanan	');
    			}
    		},
    	}
    	
    }
</script>