<template>	
	<div class="col-md-12 pt-5">
		<div class="card" >
			<div class="card-body">
			    <h5 class="card-title text-center">{{ rumah.rumah }}</h5>
			    <h6 class="card-subtitle mb-2 text-muted text-center">
			    	<b>Harga Sewa : {{ rumah.harga_sewa }} / Bulan
			    	</b>
			    </h6>
			    <p class="card-text">
			    	Deskripsi: <br>
			    	{{ rumah.deskripsi }}
			    </p>
			    <p></p>
			    <p class="card-text">Fasilitas Yang Anda dapatkan : <br> {{rumah.fasilitas}}</p>
			</div>
			<div class="card-footer">
				<form action="" method="post" @submit.prevent="store">
			  		<input type="hidden" v-model="form.nama_rumah_id"> 
			 		<input type="hidden" v-model="form.users_id">
				  
			  		<button class="btn btn-danger">
			  			Pesan
					</button>
			  	</form>			  	
			  	<br>
				<router-link to="/home" class="btn btn-primary">
			  		Kembali
			  	</router-link>
			</div>
		</div>

		<!-- Untuk Chat  -->
		<div class="row justify-content-header pt-5">
			<div class="col-md-12 chat-lists">
				<div class="messages" v-for="chat in chats">
					<div class="user">
						{{chat.name}} <span class="time">{{chat.created_at}}</span>
					</div>
					<div class="message">
						"{{chat.comment}}"
					</div>
				</div>
			</div>
			<div class="col-md-12 pt-2">
				<div>
					<form>
						<div class="form-action">
							<textarea placeholder="Isi Pesan Anda Disini" 
							class="form-control"
							v-model="body"
							@keydown="handleInput"
							>
								
							</textarea>
						</div>
					</form>
				</div>
			</div>
		</div>	
	</div>
</template>
		
<script type="text/javascript">
	import moment from 'moment'
	import BusEvent from '../bus'

	export default {
		data(){
			return {
				// Untuk Detail Rumah Dan Pesan
				rumah: [],
				form:{
					'nama_rumah_id':'',
					'users_id':'',
				},

				// Untuk Chat
				chats:[],
				body:'',
			}
		},

    	mounted(){
    	   this.getRumah()
    	   this.getUserLogin()
    	   this.getAllChat()
    	   BusEvent.$on('chat.sent', (newChat) => {
    	   		this.chats.push(newChat)
    	   })
    	},
    	methods: {
    		async getRumah(){
    			let response = await axios.get('/api/rumah/detail/'+this.$route.params.rumah_id)
    			this.rumah = response.data.data
    			this.form.nama_rumah_id = response.data.data.rumah_id
    		},

    		async getUserLogin(){
    			let response = await axios.get('/api/user/')
    			this.form.users_id = response.data.id
    		},

    		async store(){ 
    			let response = await axios.post('/api/user/booking',this.form)
    			if(response.status == 200 || response.status == 201){
    				   this.$router.push('/lihatpesanan	');
    			}
    		},

    		async getAllChat(){
    			axios.get('/api/comment/'+this.$route.params.rumah_id).then((response) =>{
	    			this.chats = response.data.reverse();
	    		});
    		},

    		async handleInput(e){
    			if(e.keyCode === 13 && !e.shiftKey){
    				e.preventDefault()
    				this.submit()
    			}
    		},

    		submit(){
    				let bodyInput = this.body.trim();
    				
    				if(bodyInput === ''){
    					return
    				}

    				let newChat = {
    					comment: bodyInput,
    					users_id:this.form.users_id,
    					nama_rumah_id:this.form.nama_rumah_id,
    					created_at: moment().utc(0).format('YYYY-MM-DD HH:mm:ss'),
    				}
					// console.log(newChat)
				   	axios.post('/api/comment', newChat).then(function (response) {
					    BusEvent.$emit('chat.sent',newChat);
				    });

				   this.body = ''
				

    		}
    		
    	}
    }
</script>

<style lang="scss">
	.messages{
		.margin-top:5px;
		.time {
			font-weight:800;
		}

		.message{
			font-size:1.2 rem;
		}
	}

	.chat-lists{
		max-height:300px;
		overflow-y:scroll;
	}
</style>