<template>
	<div class="col-md-12 pt-5">
		<div class="card" >
			<div class="card-body">
			    <h5 class="card-title text-center">Id Pesanan Anda {{booking.id_pemesanan }} </h5>
				<p class="card-text">
					Harga Sewa / Bulan :  {{booking.harga_sewa }}<br> 
					Status Bayar :  {{booking.status_pembayaran.status_bayar }}<br>
					Total Bayar :  {{booking.status_pembayaran.total_bayar }}<br>
					Tanggal Bayar : {{booking.status_pembayaran.tanggal_bayar }}<br>
				</p>
			   	</div>
			<div class="card-footer">
			  	<router-link to="/lihatpesanan" class="btn btn-primary">
			  		Kembali
			  	</router-link>
			  	
			  	<input type="hidden" v-model="data_midatrans.transaction_details.order_id"> 
			 	<input type="hidden" v-model="data_midatrans.transaction_details.gross_amount">
			 	<input type="hidden" v-model="data_midatrans.customer_details.first_name"> 
			 	<input type="hidden" v-model="data_midatrans.customer_details.email">
			 	<input type="hidden" v-model="data_midatrans.customer_details.phone">
			  	<button class="btn btn-danger" v-on:click="handlePayButton">
			  		Bayar
			  	</button>

			</div>
		</div>	
	</div>
</template>
<script type="text/javascript">
	export default{
		data(){
			return {
				booking: [],
				data_midatrans:{
					'transaction_details':{
						'order_id':'',
       				 	'gross_amount': '',
					},

					'customer_details':{
						'first_name':'',
						'email':'',
						'phone':'',
					},

				},
			}
		},

    	mounted(){
    	   this.getDetailBooking()
    	   this.getUserLogin()
    	},
    	methods: {
    		async getDetailBooking(){
    			let response = await axios.get('/api/user/booking/detailPesanan/'+this.$route.params.booking_id)
    			this.booking = response.data.data
    			this.data_midatrans.transaction_details.order_id = response.data.data.id_pemesanan
    			this.data_midatrans.transaction_details.gross_amount = response.data.data.harga_sewa
    		},


    		async getUserLogin(){
    			let response = await axios.get('/api/user/')
    			this.data_midatrans.customer_details.first_name = response.data.name
    			this.data_midatrans.customer_details.email = response.data.email
    			this.data_midatrans.customer_details.phone = '-'
    		},

    		handlePayButton(){
    		    axios.post('/api/generate', {data:this.data_midatrans}).then(function (response) {
				    // console.log(response.data.data);
					snap.pay(response.data.data.token);
				});

				console.log('masuk')
				console.log(this.data_midatrans)
			}
		}

	}
</script>
