<template>
	<div class="row pt-5">
		<div class="col-md-4" v-for="rumah in rumahs">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
				    <h5 class="card-title text-center">{{ rumah.rumah }}</h5>
				    <h6 class="card-subtitle mb-2 text-muted text-center"> 
				    	<b>
				    		Harga Sewa : <br> {{ rumah.harga_sewa }} / Bulan
				    	</b>
				    </h6>
				    <p class="card-text">Deskripsi: <br> {{ rumah.deskripsi }}</p>
				</div>
				<div class="card-footer">
					<router-link :to="{name: 'rumah.detail', params: {rumah_id: rumah.rumah_id} }" class="btn btn-primary">
				  			Detail
				  	</router-link>
				</div>
			</div>	
		</div>
	</div>
</template>
<script type="text/javascript">
	export default {
    	data() {
    		return {
    			rumahs: [],
    		}
    	},

    	mounted(){
    		axios.get('/api/rumah').then((response) =>{
    			this.rumahs = response.data.data;
    		});
    	}
    }
</script>