<template>
	<div class="row pt-5">
		<div class="col-md-4" v-for="booking in bookings">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
				    <h5 class="card-title text-center">{{ booking.nama_rumah }}</h5>
				    <h6 class="card-subtitle mb-2 text-muted text-center"> 
				    	<b>
				    		Harga Sewa : <br> {{booking.harga_sewa}} / Bulan
				    	</b>
				    </h6>
				    <p class="card-text">
				    	Id Pesanan Anda : <br>
				    	 {{booking.id}}
				    </p>
				</div>
				<div class="card-footer">
					<router-link :to="{name: 'pesanan.detail', params: {booking_id: booking.id} }" class="btn btn-primary">
				  			Detail Pesanan
				  	</router-link>
				</div>
			</div>	
		</div>
	</div>
</template>
<script type="text/javascript">
		export default {
			data(){
				return{
					bookings:[],
				}
			},

			mounted(){
				this.getDaftarBooking()
			},

			methods:{
				async getDaftarBooking(){
	    			let response = await axios.get('/api/user/booking/daftar')
	    			this.bookings = response.data.data
	    			console.log(bookings);
	    		}
			},
		}
</script>